@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;900&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

html {
    scroll-behavior: smooth;
}

header {
    width: 100%;
    height: 100vh;
    background-image: url(../multimedia/foto_inicio.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

nav {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 140px;
    margin-left: 20px;
}

.bar-btn {
    font-size: 25px;
    color: #fff;
    margin-right: 20px;
    cursor: pointer;
}

.nav-menu {
    position: fixed;
    width: 100%;
    height: 0vh;
    top: 100px;
    background: rgba(0, 0, 0, .95);
    text-align: center;
    transition: all .5s;
}

.nav-menu li {
    display: none;
    line-height: 30px;
    margin: 50px 0;
    transition: all .5s;
}

.nav-menu li a {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
}

.nav-menu li a.active, .nav-menu li a:hover {
    color: rgb(248, 8, 8);
    transition: .3s;
}

#check {
    display: none;
}

#check:checked ~ .nav-menu {
    height: 100vh;
}

#check:checked ~ .nav-menu li {
    display: block;
}

.bio {
    padding: 0 30px;
    margin-top: 50px;
    text-align: center;
    color: #fff;
}

.bio strong {
    font-size: 30px;
    margin-bottom: 20px;
}

.bio p {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.bio i {
    padding: 20px;
    font-size: 25px;
    color: #fff;
}

.redes i:hover {
    transform: scale(1.2);
    transition: all .5s;
    color: rgb(248, 8, 8);
}

main h1 {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 30px;
    font-size: 40px;
}

main .cursos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 50px;
}

main .articulo {
    width: 380px;
    /* height: 600px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    margin-top: 80px;
    margin-bottom: 80px;
    background-color: aquamarine;
    padding-bottom: 30px;
}

.articulo iframe {
    width: 100%;
    height: 200px;
}

.articulo .descrip {
    flex-flow: column nowrap;
    height: 220px;
    padding: 30px;
}

.articulo strong {
    font-size: 16px;
}

.articulo p {
    font-size: 12px;
    text-align: left;
    color: rgb(89, 87, 87);
}

.articulo .comprar {
    text-align: center;
    background-color: rgb(6, 160, 160);
    color: #fff;
    height: 40px;
    width: 250px;
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.comprar:hover {
    background-color: rgb(5, 86, 86);
    transition: all 0.5s;
}

.comprar i {
    padding: 8px;
}

/* .articulo a {
    justify-content: center;
} */

.contactos {
    width: 100%;
    background-color: rgb(248, 8, 8);
    padding: 10px;
    padding-bottom: 40px;
}

.contactos h2 {
    text-align: center;
    font-size: 40px;
    color: #fff;
    padding: 10px;
}

.links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
}

.links .fotoFinal {
    width: 200px;
    height: auto;
    border-radius: 60px;
}

.links .cajaLinks {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 10px;
}

.cajaLinks a {
    color: #fff;
    font-size: 18px;
}

.cajaLinks a:hover {
    transform: scale(1.02);
    transition: all .5s;
    color: black;
}

footer {
    width: 100%;
    height: 50px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding-top: 9px;
    font-size: 12px;
}

footer a {
    color: #fff;
}

footer a:hover {
    color: rgb(248, 8, 8);
}

.subir {
    font-size: 30px;
    color: #818080;
    position: fixed;
    opacity: 0.5;
    bottom: 20px;
    right: 20px;
}

@media screen and (min-width: 768px){
    .logo {
        margin-left: 50px;
    }

    nav {
        height: 100px;
    }

    .bar-btn {
        display: none;
    }

    .nav-menu {
        position: relative;
        height: 100px;
        top: 0;
        background: none;
        transition: none;
        text-align: right;
        margin-right: 50px;
    }

    .nav-menu li {
        display: inline-block;
        line-height: 100px;
        margin: 0 20px;
        transition: none;
    }

    .nav-menu li a {
        font-size: 18px;
        
    }

    .bio {
        margin-top: 200px;
    }

}
